#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/php-vitexus-html5-php/usr/share/php/Masterminds
	cp -r src/. debian/php-vitexus-html5-php/usr/share/php/Masterminds/
	install -m 644 debian/autoload.php debian/php-vitexus-html5-php/usr/share/php/Masterminds/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-vitexus-html5-php/usr/share/php/Masterminds/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-vitexus-html5-php/usr/share/php/Masterminds/autoload.php
